body {
  background-image: url('./images/background.png'); /* Update the path to your local image */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: 'Academy', serif; /* Change font to Academy or any other serif font */
  overflow: hidden;
  margin: 0;
}

html {
  overflow: hidden;
}

/* Global styles for text */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Academy', serif; /* Ensure all headers use the Academy font */
}

p {
  font-family: 'Academy', serif; /* Ensure paragraphs use the Academy font */
  font-size: 1.2rem; /* Enlarge font size for paragraphs */
}

label {
  font-family: 'Academy', serif; /* Ensure labels use the Academy font */
  font-size: 1.2rem; /* Enlarge font size for labels */
}

input {
  font-family: 'Academy', serif; /* Ensure input text uses the Academy font */
  font-size: 1rem; /* Enlarge font size for input fields */
}

button {
  font-family: 'Academy', serif; /* Ensure button text uses the Academy font */
  font-size: 1rem; /* Enlarge font size for buttons */
}
